<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1>quotes app </h1>
    <p>collect the quotes you love!</p>
<h2>Most Relatable Quote Today</h2>
 <h3> <%=  @relatable.text if @relatable %> </h3>
    <h4>By: <%= @relatable.author if @relatable%></h4>

<div id="quotes">
<h3>All Quotes </h3>
<div>
<script type="text/javascript" charset="utf-8">
 console.log( "ready!" );
$(document).ready(function() {
    var text = ""
    var id;
    function Quote(data,id){

        debugger
           this.text = data["attributes"]["text"]
           this.author = data["attributes"]["author"]
           this.formatQuote = function(){
               text+=`<h3> ${this.text} </h3>
               <h4> - ${this.author}</h4> 
               <a href="quotes/${id}">See Quotes </a>
               `
           }
       }
   $.get('/quotes.json').done(function(data){
      for(var i=0;i<data["data"]["length"];i++){
          id = i + 1
        new Quote(data["data"][i],id)
      }
         $("div#quotes").html(text);
      })
}) //last line of the document ready function

</script>