<%= javascript_include_tag 'get_all_quotes' %>
<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1>quotes app </h1>
    <p>collect the quotes you love!</p>
<h2>Most Relatable Quote Today</h2>
 <h3> <%=  @relatable.text if @relatable %> </h3>
    <h4>By: <%= @relatable.author if @relatable%></h4>

<div id="quotes">
<h3>All Quotes </h3>
<div>