<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1>quotes app </h1>
    <p>collect the quotes you love!</p>
<h2>Most Relatable Quote Today</h2>
 <h3> <%=  @relatable.text if @relatable %> </h3>
    <h4>By: <%= @relatable.author if @relatable%></h4>

<div id="quotes">
<h3>All Quotes </h3>
<div>
<script type="text/javascript" charset="utf-8">
 console.log( "ready!" );
$(document).ready(function() {
    var text = ""
    var id;
   $.get('/quotes.json').done(function(data){
      for(var i=0;i<data["length"];i++){
          id = i+1
          text+="<h3>"+data[i+""]["text"]+"</h3>"
          text+="<h4>"+data[i+""]["author"]+"</h3>"
          text+="<a href='/quotes/"+id+"'> See Quote </a>"
      }
         $("div#quotes").html(text);
      })
}) //last line of the document ready function

</script>