

<div id="name">
<div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(data) {
    var text="";
    var quote="";
      $.get(window.location.pathname+ ".json").done(function(data){
        debugger
        text+="<h2>"+data["data"]["attributes"]["name"]+"</h2>"
        text+="<button>Show Quotes</button>"
        $("div#name").html(text);
        $("div#name").on('click', 'button', function(){
        quote+="<h1>"+data["data"]["attributes"]["name"]+"</h1>"
        quote+="<h2>Quotes</h2>"
          for(var i=0;i<data["data"]["attributes"]["formatted-quotes"]["length"];i++){

          quote+= "<p>"+data["data"]["attributes"]["formatted-quotes"][i]["text"]
          quote+= "<p>by "+data["data"]["attributes"]["formatted-quotes"][i]["author"]+"</p>"
          }
          $("div#name").html(quote)
        })

      })
  })
</script>